body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #242424;
  color: azure;
}

main {
  height: 100%;
  width: 100%;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#logo-akatsuki {
  overflow: hidden;
  position: relative;
  width: 50%;
  aspect-ratio: 4/2;
  background-image: url("./assets/AkatsukiLogo.png");
  background-size: contain;
  background-repeat: no-repeat;
}

#logo-akatsuki::after {
  transform: translateX(0%);
  mix-blend-mode: saturation;
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  animation: shine 1s linear infinite;
  background: #AB3;
  opacity: 1;
  background: linear-gradient(to right, #ffffff23 0%, #ffffff 50%, #ffffff56 100%);
}

#logo-nintendo {
  overflow: hidden;
  position: relative;
  width: 50%;
  aspect-ratio: 4/2;
  background-image: url("./assets/nintendo-logo.webp");
  background-size: contain;
  /* filter: brightness(1); */
  background-repeat: no-repeat;
}
/* saturation, hue */
#logo-nintendo::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background-blend-mode: saturation;
  mix-blend-mode: darken;
  isolation: isolate;
  border: 1px solid #fff;
  animation: shine 1s linear infinite;
  background: linear-gradient(to right, #ffffff00 0%, #313131 50%, #4d5b0000 100%);
}

@keyframes shine {
  0% {
    /* opacity: 0; */
    /* background: linear-gradient(to right, #ffffff1c 0%, #ffffff95 50%, #15ff00 100%); */
    left: -100%;
    /* left: 0; */
  }
  100% {
    /* opacity: 1; */
    /* background: linear-gradient(to right, #ffffff1c 0%, #ffffff95 50%, #26ff00 100%); */
    left: 100%;
    /* left: 0; */
  }
}